#footer {
    width: 100%;
    position: relative;
}

#footer-background {
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(291.34deg, #212121 0%, #424242 100%);
}

#footer-row {
    padding: 5px 5px;
}

.footer-text {
    font-family: "SF Mono", 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 97.19%;

    letter-spacing: -0.02em;

    color: #FAFAFA;
}

.footer-view-on-github {
    font-size: 4vw;
    color: #FAFAFA;
}

.footer-view-on-github:hover {
    color: #FAFAFA;
}

#footer-copyright {

}

#footer-github {
    margin-right: 0;
}

#footer-arrow {

}

@media (min-width: 576px) {
    .footer-text {
        letter-spacing: -0.02em;
        font-size: calc(14px * var(--sm-mul));
    }

    .footer-view-on-github {
        font-size: calc(14px * var(--sm-mul));
    }

    #footer-github {
        margin-right: calc(30px * var(--sm-mul));
    }
}

@media (min-width: 768px) {
    .footer-text {
        letter-spacing: -0.02em;
        font-size: calc(14px * var(--md-mul));
    }

    .footer-view-on-github {
        font-size: calc(14px * var(--md-mul));
    }

    #footer-github {
        margin-right: calc(30px * var(--md-mul));
    }
}

@media (min-width: 992px) {
    .footer-text {
        letter-spacing: -0.02em;
        font-size: calc(14px * var(--l-mul));
    }

    .footer-view-on-github {
        font-size: calc(14px * var(--l-mul));
    }

    #footer-github {
        margin-right: calc(30px * var(--l-mul));
    }
}

@media (min-width: 1200px) {
    .footer-text {
        letter-spacing: -0.02em;
        font-size: calc(14px * var(--xl-mul));
    }

    .footer-view-on-github {
        font-size: calc(14px * var(--xl-mul));
    }

    #footer-github {
        margin-right: calc(30px * var(--xl-mul));
    }
}

@media (min-width: 1440px) {
    .footer-text {
        letter-spacing: -0.02em;
        font-size: 14px;
    }

    .footer-view-on-github {
        font-size: 14px;
    }

    #footer-github {
        margin-right: 30px;
    }
}

