@keyframes navbar-fadein {
    0% {margin-top: -25px; opacity: 0}
    100% {margin-top: 0; opacity: 1}
}

.navbar {
    margin-left: 0;

    animation-name: navbar-fadein;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;

    /*backdrop-filter: saturate(180%);*/
}

#fixed-navbar {
    margin-right: 0;
    margin-top: 0;
    padding-left: 15px;
}

.nav-link {
    font-family: "SF Mono", monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 97.19%;

    text-align: center;
    letter-spacing: -0.02em;

    /*filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25)); !important;*/

    /*color: #212121 !important;*/

    border: none;
    background-color: transparent;

    transition-duration: 0s !important;
}

.nav-link:hover {
    /*color: #EEEEEE !important;*/
    color: #ff6d00 !important;
}

.active {
    font-weight: bold !important;
    color: #FF6D00 !important;
}

.active:hover {
    font-weight: bold !important;
    color: #FF6D00 !important;
}

.clicked {
    color: #FF6D00 !important;
}

.navbar-toggler {
    /*margin-top: 8px;*/
    border-color: transparent !important;
    opacity: 1 !important;
    /*filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5)); !important;*/

}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

/*.navbar-toggler-icon {*/
/*    transition-duration: 500ms;*/
/*}*/

@media (max-width: 575px) {
    .nav-link {
        color: #212121 !important;
    }

    .nav-link:hover {
        color: #212121 !important;
    }

    .active {
        font-weight: bold !important;
        color: #FF6D00 !important;
    }

    .active:hover {
        font-weight: bold !important;
        color: #FF6D00 !important;
    }
}

@media (min-width: 576px) {
    @keyframes fixed-navbar-fadein {
        0% {
            margin-top: calc(-20px * var(--sm-mul));
            opacity: 0
        }
        100% {
            margin-top: calc(10px * var(--sm-mul));
            opacity: 1
        }
    }

    #fixed-navbar {
        margin-right: calc(10px * var(--sm-mul)) !important;
        margin-top: calc(10px * var(--sm-mul)) !important;
        margin-bottom: calc(10px * var(--sm-mul)) !important;

        animation-name: fixed-navbar-fadein;
        animation-duration: 600ms;
        animation-delay: 0ms;
        animation-iteration-count: 1;
    }

    .nav-item {
        padding: calc(0px * var(--sm-mul)) calc(20px * var(--sm-mul));
    }

    .nav-link {
        font-size: calc(18px * var(--sm-mul));
        letter-spacing: -0.02em;

        /*color: #9e9e9e !important;*/
    }
}

@media (min-width: 768px) {
    @keyframes fixed-navbar-fadein {
        0% {
            margin-top: calc(-20px * var(--md-mul));
            opacity: 0
        }
        100% {
            margin-top: calc(10px * var(--md-mul));
            opacity: 1
        }
    }

    #fixed-navbar {
        margin-right: calc(10px * var(--md-mul)) !important;
        margin-top: calc(10px * var(--md-mul)) !important;
        margin-bottom: calc(10px * var(--md-mul)) !important;

        animation-name: fixed-navbar-fadein;
        animation-duration: 600ms;
        animation-delay: 0ms;
        animation-iteration-count: 1;
    }

    .nav-item {
        padding: calc(0px * var(--md-mul)) calc(20px * var(--md-mul));
    }

    .nav-link {
        font-size: calc(18px * var(--md-mul));
        letter-spacing: -0.02em;

        /*color: #9e9e9e !important;*/
    }
}

@media (min-width: 992px) {
    @keyframes fixed-navbar-fadein {
        0% {
            margin-top: calc(-20px * var(--l-mul));
            opacity: 0
        }
        100% {
            margin-top: calc(10px * var(--l-mul));
            opacity: 1
        }
    }

    #fixed-navbar {
        margin-right: calc(10px * var(--l-mul)) !important;
        margin-top: calc(10px * var(--l-mul)) !important;
        margin-bottom: calc(10px * var(--l-mul)) !important;

        animation-name: fixed-navbar-fadein;
        animation-duration: 600ms;
        animation-delay: 0ms;
        animation-iteration-count: 1;
    }

    .nav-item {
        padding: calc(0px * var(--l-mul)) calc(20px * var(--l-mul));
    }

    .nav-link {
        font-size: calc(18px * var(--l-mul));
        letter-spacing: -0.02em;

        /*color: #9e9e9e !important;*/
    }
}

@media (min-width: 1200px) {
    @keyframes fixed-navbar-fadein {
        0% {
            margin-top: calc(-20px * var(--xl-mul));
            opacity: 0
        }
        100% {
            margin-top: calc(10px * var(--xl-mul));
            opacity: 1
        }
    }

    #fixed-navbar {
        margin-right: calc(10px * var(--xl-mul)) !important;
        margin-top: calc(10px * var(--xl-mul)) !important;
        margin-bottom: calc(10px * var(--xl-mul)) !important;

        animation-name: fixed-navbar-fadein;
        animation-duration: 600ms;
        animation-delay: 0ms;
        animation-iteration-count: 1;
    }

    .nav-item {
        padding: calc(0px * var(--xl-mul)) calc(20px * var(--xl-mul));
    }

    .nav-link {
        font-size: calc(18px * var(--xl-mul));
        letter-spacing: -0.02em;

        /*color: #9e9e9e !important;*/
    }
}

@media (min-width: 1440px) {
    @keyframes fixed-navbar-fadein {
        0% {
            margin-top: -20px;
            opacity: 0
        }
        100% {
            margin-top: 10px;
            opacity: 1
        }
    }

    #fixed-navbar {
        margin-right: calc(50vw - 1440px / 2 + 10px) !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;

        animation-name: fixed-navbar-fadein;
        animation-duration: 600ms;
        animation-delay: 0ms;
        animation-iteration-count: 1;
    }

    .nav-item {
        padding: 0 20px;
    }

    .nav-link {
        font-size: 18px;
        letter-spacing: -0.02em;

        /*color: #9e9e9e !important;*/
    }
}